
.navbar-container{
    width: fit-content;
}

.nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    background-color: var(--dark);
    padding: 20px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    border: 1px solid var(--white);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: var(--primary-600);
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    background-color: var(--white);
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: var(--white);
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}