@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --light: #ffffff;
  --dark: #060220;
  --tertiary-light: #6f85f3;
  --tertiary: #3c5bff;
  --tertiary-dark: #0a014f;
  --secondary-light: #828485;
  --secondary: #848586;
  --secondary-dark: #848586;
  --primary-light: #e43bc5;
  --primary: #db0eb7;
  --primary-dark: #a10d86;
}

.inactive {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light);
}

/* 1rem=16px */
h1 {
  font-family: "Nebula-Regular", Fallback, sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--dark);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--dark);
}

h3 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--dark);
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4rem;
  color: var(--dark);
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4rem;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 4rem;
}
li {
  list-style: none;
}

.nav-link {
  color: var(--light);
  text-decoration: none;
  font-size: 1.75rem;
}
.nav-link:hover {
  color: var(--tertiary-light);
}

.nav-link--external {
  font-size: 1.75rem;
  color: var(--light);
  text-decoration: none;
}
.nav-link--external:hover {
  color: var(--tertiary-light);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--dark);
}

strong {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--tertiary-light);
}

.item {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.btn--primary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* color: ; */
  display: flex;
  font-size: 1rem;
  color: var(--light);
  background: var(--primary-dark);
  padding: 15px 30px;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--primary:hover {
  background: var(--primary-light);
}

.btn--secondary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;

  /* color: ; */
  display: flex;
  font-size: 1rem;
  color: var(--light);
  background: var(--tertiary-light);
  padding: 15px 30px;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--secondary:hover {
  background: var(--tertiary);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }

  .nav-link {
    color: var(--light);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link:hover {
    color: var(--tertiary-light);
  }

  .nav-link--external {
    color: var(--light);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link--external:hover {
    color: var(--tertiary-light);
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
/* navbars desktop */

.navbar--desktop {
  display: none;
  justify-content: end;
  height: 80px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 40px;
  background-color: #00000073;
  border-radius: 30px;
}
.navbar--desktop__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar--mobile {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 2;
  padding: 5px 10px;
}

.navbar--mobile__menu {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  gap: 70px;
  background: var(--dark);
  transform: translate(100vw, 0);
}
.navbar--mobile__button {
  z-index: 3;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #00000057;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
}
.navbar--mobile__button .line {
  width: 42px;
  height: 3px;
  background-color: var(--light);
}

@media (min-width: 640px) {
  .navbar--desktop {
    display: flex;
  }
  .navbar--mobile {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

/* end navbars */
.social-media-menu {
  position: fixed;
  right: 6px;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 1;
  background: #00000073;
  /* background: black; */
  padding: 15px;
  border-radius: 10px;
}
.instagram {
  opacity: 0.7;
  transition: all 0.3s;
}

.instagram:hover {
  opacity: 1;
}
.linkedin {
  opacity: 0.7;

  transition: all 0.3s;
}

.linkedin:hover {
  opacity: 1;
}

/* loaders */
.btn-loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: var(--tertiary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loaders */
