@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals */
:root {
  --light: #ffffff;
  --dark: #05060d;
  --tertiary-light: #6f85f3;
  --tertiary: #3c5bff;
  --tertiary-dark: #0a014f;
  --secondary-light: #a9aeb1;
  --secondary: #848586;
  --secondary-dark: #848586;
  --primary-light: #e43bc5;
  --primary: #db0eb7;
  --primary-dark: #a10d86;
}

.inactive {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light);
}

/* 1rem=16px */
h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--dark);
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--dark);
}

h3 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: var(--dark);
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--tertiary-dark);
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4rem;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
}
li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.75rem;
}
.nav-link:hover {
}

.nav-link--external {
  font-size: 1.75rem;
  text-decoration: none;
}
.nav-link--external:hover {
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--dark);
}

strong {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
input[type=text],input[type=email],input[type=password]{
  background: #ffffff25!important;
}

.btn--primary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* color: ; */
  display: flex;
  font-size: 1rem;
  color: var(--light);
  background: var(--primary);
  padding: 15px 30px;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--secondary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* color: ; */
  display: flex;
  font-size: 1rem;
  color: var(--light);
  background: var(--secondary-light);
  padding: 15px 30px;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--tertiary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;

  /* color: ; */
  display: flex;
  font-size: 1rem;
  color: var(--light);
  background: var(--tertiary-dark);
  padding: 15px 30px;
  font-weight: 700;
  transition: background 0.3s;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 4rem;
  }

  h5 {
    font-size: 1.5rem;
    line-height: 4rem;
  }

  h6 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;

  }
  h2 {
    font-size: 4rem;
    line-height: 4rem;

  }

  h3 {
    font-size: 2.5rem;
    line-height: 4rem;

  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;

  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .nav-link {
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link:hover {
  }

  .nav-link--external {
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link--external:hover {
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}


/* end global */

