@font-face {
  font-family: "Nebula-Regular";
  src: url("/Nebula-Regular.woff2") format("woff2");
}
/* Globals */
:root {
  --ligth: #fbfef9;
  --dark: #191923;
  --primary-light: #7e76f5;
  --primary: #473bf0;
  --primary-dark: #4035d8;
  --secondary-light: #828485;
  --secondary: #848586;
  --secondary-dark: #848586;
  --tertiary-light: #25ac83;
  --tertiary: #1a936f;
  --tertiary-dark: #157a5c;
}

.inactive {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--ligth);
  font-family: "Ubuntu", sans-serif;
}
.dark body {
  background-color: var(--dark);
}
/* 1rem=16px */
h1 {
  font-family: "Nebula-Regular", Fallback, sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--dark);
}
.dark h1 {
  color: var(--ligth);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--primary-light);
}

h3 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.dark h3 {
  color: var(--ligth);
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4rem;
}

.dark h4 {
  color: var(--ligth);
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 4rem;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 4rem;
}
li {
  list-style: none;
}

.nav-link {
  color: var(--ligth);
  text-decoration: none;
  font-size: 1.75rem;
}
.nav-link:hover {
  color: var(--tertiary-light);
}

.nav-link--external {
  font-size: 1.75rem;
  color: var(--ligth);
  text-decoration: none;
}
.nav-link--external:hover {
  color: var(--tertiary-light);
}

.dark p {
  color: var(--ligth);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

p.big {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
}
.dark strong {
  color: var(--tertiary-light);
}
strong {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--tertiary-light);
}

.item {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.btn--primary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* color: ; */
  display: flex;
  width: fit-content;
  font-size: 1rem;
  color: var(--primary-light);
  background: var(--primary-dark);
  padding: 1rem 3rem;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--primary:hover {
  background: var(--primary-light);
}

.btn--secondary {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: pointer;

  /* color: ; */
  display: flex;
  width: fit-content;
  font-size: 2rem;
  color: var(--tertiary-100);
  background: var(--tertiary-light);
  padding: 1rem 3rem;
  font-weight: 700;
  transition: background 0.3s;
}
.btn--secondary:hover {
  background: var(--tertiary);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }

  .nav-link {
    color: var(--ligth);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link:hover {
    color: var(--tertiary-light);
  }

  .nav-link--external {
    color: var(--ligth);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav-link--external:hover {
    color: var(--tertiary-light);
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

/* end Globals */

/* Page Format */

.container{
  padding: 0 30px;
}

header {
}
section {
}

@media (min-width: 640px) {
  
.container{
  padding: 0 60px;
}
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  header {
  }
  section {
  }

.container{
  padding: 0 120px;
}
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

/* end Page Format */

/* Home Page */

header {
  position: relative;
  height: 152vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(25, 25, 35);
  background: linear-gradient(
    180deg,
    rgba(25, 25, 35, 0.3519782913165266) 65%,
    rgba(71, 59, 240, 1) 96%
  );
}
header .bg-image {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
header::after {
  background: rgb(25, 25, 35);
  background: linear-gradient(
    90deg,
    rgba(25, 25, 35, 0.2519782913165266) 65%,
    rgba(71, 59, 240, 1) 84%
  );
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-container {
  position: absolute;
  top: 125px;
  z-index: 1;

}

.diego-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    134deg,
    rgba(25, 25, 35, 0.4519782913165266) 45%,
    rgba(71, 59, 240, 1) 99%
  );
  padding: 50px 30px; 
  border-radius: 20px;
  max-width: 400px;
}
.diego-card img{
  border-radius: 50%;
  height: 150px;
  width: fit-content;
  align-self: center;
  margin-bottom: 40px;
}
.diego-card__name{

  font-family: "Nebula-Regular", Fallback, sans-serif;
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 10px;
  
}

.diego-card__profession{
  font-family: "Nebula-Regular", Fallback, sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.diego-card__description{
  margin-top: 15px;
  font-size: 1.1rem;
}
.about-me {
  padding: 80px 0;
  position: relative;
  height: 140vh;
}
.about-me img {
  width : 100%;
  position: absolute;
  top: 0;

  z-index: -1;
}

.about-me-container{
  position: absolute;
  top: 125px;
  z-index: 1;
}
.about-me-card{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: linear-gradient(
    134deg,
    rgba(25, 25, 35, 0.4519782913165266) 45%,
    rgba(71, 59, 240, 1) 99%
  );
  padding: 50px 30px; 
  border-radius: 20px;
}

.favorite-tools {
  display: flex;
  flex-direction: column;
  padding-block: 80px;
}
.favorite-tools h2 {
  text-align: center;
}

.favorite-tools__list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  justify-items: center;
  align-items: end;
  gap: 20px;
  row-gap: 60px;
}
.favorite-tools img{
  width: 84px;
  margin-bottom: 20px;
}
.react {
  animation: infinite-rotation 7s linear infinite;
}

@keyframes infinite-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card--tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;

}
.project-carrousel{
  margin: 80px 0;
  display: flex;
  gap: 50px;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: #00000080;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
align-items: center;

  gap: 15px;
  max-width: 300px;
  min-height: 400px;
}

.project-card img{
  height: 60px;
}
.project-card h2{
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.project-card p{
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  margin-bottom: 20px;
}

.certificates {
  display: flex;
  flex-direction: column;
}
.certificates h2 {
  text-align: center;
}
.certificates img {
  height: 70px;
}
.certificates__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  gap: 20px;
}

@media (min-width: 640px) {
  .favorite-tools__list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

/* End Home Page */

.dark-mode {
  position: fixed;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* navbar desktop */

.navbar--desktop {
  display: none;
  justify-content: end;
  height: 80px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 40px;
  background-color: #00000073;
  border-radius: 30px;
}
.navbar--desktop__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* end navbar desktop */

/* navbar mobile */
.navbar--mobile {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 2;
  padding: 5px 10px;
}

.navbar--mobile__menu {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  gap: 70px;
  background: var(--dark);
  transform: translate(100vw, 0);
}
.navbar--mobile__button {
  z-index: 3;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #00000057;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
}
.navbar--mobile__button .line {
  width: 42px;
  height: 3px;
  background-color: var(--ligth);
}

/* end navbar mobile */

/* social media */
.social-media-menu {
  position: fixed;
  right: 6px;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 1;
  background: #00000073;
  /* background: black; */
  padding: 15px;
  border-radius: 10px;
}
.instagram {
  opacity: 0.7;
  transition: all 0.3s;
}

.instagram:hover {
  opacity: 1;
}
.linkedin {
  opacity: 0.7;

  transition: all 0.3s;
}

.linkedin:hover {
  opacity: 1;
}
@media (min-width: 640px) {
  .navbar--desktop {
    display: flex;
  }
  .navbar--mobile {
    display: none;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
