

h1,h2,h3,h4,h5,h6,p,span,ul {
  margin: 0;
}
.typography {
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
}

.typography--primary{
  color: var(--primary_300);
}

.typography--white{
  color: var(--white);
}

.typography--dark{
  color: var(--dark);
}
.typography--link{
  text-decoration: none;
  color: var(--primary_300);
}
.typography--link:hover{
  cursor: pointer;
  color: var(--primary_100);
  
}
.typography--title-large {
  font-size: var(--font_size_title_large);
  font-weight: var(--font_weight_light);
}

.typography--title-medium {
  font-size: var(--font_size_title_medium);
  font-weight: var(--font_weight_light);
}

.typography--title-small {
  font-size: var(--font_size_title_small);
  font-weight: var(--font_weight_light);
}


.typography--body-large {
  font-size: var(--font_size_body_medium);
  font-weight: var(--font_weight_normal);
  line-height: var(--space_6);
}

.typography--body-medium {
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-light);
  line-height: var(--space-5);

}

.typography--body-small {
  font-size: var(--font_size_body_small);
  font-weight: var(--font_weight_light);
}