

h1,h2,h3,h4,h5,h6,p,span,ul {
  margin: 0;
}
.typography {
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
}

.typography--link{
  text-decoration: none;
  color: var(--primary-300);
}
.typography--link:hover{
  cursor: pointer;
  color: var(--primary-100);
  
}
.typography--title-large {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-light);
}

.typography--title-medium {
  font-size: var(--font-size-title-medium);
  font-weight: var(--font-weight-light);
}

.typography--title-small {
  font-size: var(--font-size-title-small);
  font-weight: var(--font-weight-light);
}


.typography--body-large {
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--space-6);
}

.typography--body-medium {
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-light);
  line-height: var(--space-5);

}

.typography--body-small {
  font-size: var(--font-size-body-small);
  font-weight: var(--font-weight-light);
}
.typography--list-item {
  list-style: bullet; 
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--space-6);

}