body {
  margin: 0;
  padding: 0;
  background: var(--dark-600);
  box-sizing: border-box;
}

ul {
  list-style: square;
}
li.text {
  list-style: square;
}

.hero {
  background: var(--dark-600);
  height: 100vh;
  padding-inline: var(--space-3);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5,1fr);
  column-gap: var(--space-3);


}

.hero__text {
  grid-column: 1/7;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}


@media (min-width: 768px) {
  .hero {
    padding-inline: var(--space-8);
    padding-top: 0;

  }
  .hero__text {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}
.skills {
  padding-inline: var(--space-3);

  background: var(--dark-600);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: var(--space-3);
  row-gap: var(--space-11);
  padding-bottom: var(--space-11);
}
.skills > h2 {
  grid-column: 1/7;
  justify-self: center;
  /* margin-bottom: var(--space-11); */
}

.skills__techs-stack {
  display: flex;
  flex-direction: column;
  grid-column: 1/7;
  grid-row: 2/3;
}

.skills__techs-stack > h3 {
  margin-bottom: var(--space-3);
}

.skills__stack-list {
  grid-column: 1/7;
  grid-row: 3/4;
}
.skills__soft-skills {
  display: flex;
  flex-direction: column;

  grid-column: 1/7;
  grid-row: 5/6;
}

.skills__soft-skills > h3 {
  margin-bottom: var(--space-3);
}
@media (min-width: 768px) {
  .skills {
    padding-inline: var(--space-8);
  }
  .skills__techs-stack {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .skills__stack-list {
    grid-column: 4/7;
    grid-row: 2/3;
  }

  .skills__soft-skills {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

.about-me {
  padding-top: var(--space-11);

  background: var(--dark-600);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 50vh auto;
  padding-inline: var(--space-3);
  row-gap: var(--space-11);
  column-gap: var(--space-6);

  padding-bottom: var(--space-11);
}
.about-me > h2 {
  justify-self: center;
  grid-column: 1/7;
}
.about-me__experience {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 1/7;
}
.about-me__experience > *:nth-child(1) {
  margin-bottom: var(--space-3);
}
.about-me__experience > *:nth-child(2) {
  margin-bottom: var(--space-2);
}
.about-me__expectations {
  display: flex;

  flex-direction: column;
  grid-column: 1/7;
  grid-row: 3/4;
}
.about-me__expectations > *:nth-child(1) {
  margin-bottom: var(--space-3);
}

.about-me__expectations > *:nth-child(2) {
  margin-bottom: var(--space-2);
}
.about-me__hobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 1/7;
  grid-row: 4/5;
}
.about-me__hobbies > *:nth-child(1) {
  margin-bottom: var(--space-3);
}

.about-me__hobbies > *:nth-child(2) {
  margin-bottom: var(--space-2);
}
@media (min-width: 768px) {
  .about-me {
    padding-inline: var(--space-8);
  }
  .about-me__experience {
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .about-me__expectations {
    grid-column: 4/7;
    grid-row: 2/3;
  }
  .about-me__hobbies {
    grid-column: 1/7;
    grid-row: 3/4;
  }
}

.portfolio {
  background: var(--dark-600);
  padding-inline: var(--space-8);
  padding-top: var(--space-11);

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--space-11);
  padding-bottom: var(--space-11);
}
.portfolio__text {
  grid-column: 1/7;
  grid-row: 1/2;
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.portfolio__slider {
  grid-column: 1/7;
}
@media (min-width: 768px) {
  .portfolio {
    padding-inline: var(--space-8);
  }
  .portfolio__text {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .portfolio__slider {
    grid-column: 2/6;
  }
  
}

.contact {
  background: var(--dark-600);

  padding-inline: var(--space-8);

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--space-11);
  padding-bottom: var(--space-8);
}
.contact > h2 {
  justify-self: center;
  grid-column: 1/7;
  grid-row: 1/2;
}
.contact__social-media-container {
  grid-column: 1/7;
  display: flex;
  
  flex-direction: column;
  gap: var(--space-5);

}
.contact__form-container {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  align-items: center;
}
.contact__form-container__text {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}
.contact__social-media {
  display: flex;
  gap: var(--space-3);
}

@media (min-width: 768px) {
  .contact {
  
    padding-inline: var(--space-8);
  }
  .contact__social-media-container {
    grid-column: 2/4;
    

  }
  .contact__form-container {
    grid-column: 4/6;
    text-align: center;
    justify-self: center;
  }
    
}

.navbar-container {
  position: fixed;
  top: var(--space-6);

  left: var(--space-2);
}

.nav input:checked ~ .menu {
  width: 480px !important;
}

.navbar-desktop{
  display: none;
}
.navbar-mobile{
  position: fixed;
  top: 20px;
  left: 20px;
}
@media (min-width: 768px) {
 .navbar-desktop{
  display: block;
 }    
 .navbar-mobile{
  display: none;
 }
}

