@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Reset input appearance and border */
input {
    appearance: none;
    border-radius: 0;
}

/* Styling for the input container */
.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
}

/* padStyling for subsequent input containers */

/* Styling for the input label */
.input-label {
    color: var(--neutral_300);
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
}

/* Styling for the input field */
.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid var(--neutral_600);
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;
	color: var(--white);
}

/* Styling for focused and valid input fields */
.input-field:focus,
.input-field:valid {
    outline: 0;
    border-bottom-color: var(--white);
}

/* Styling for focused and valid input labels */
.input-field:focus + .input-label,
.input-field:valid + .input-label {
    color: var(--neutral_600);
    transform: translateY(-1.5rem);
}






