:root {
  --md-source: #473BF0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #07004B;
  --md-ref-palette-primary10: #0E006A;
  --md-ref-palette-primary20: #1C00A6;
  --md-ref-palette-primary25: #2300C6;
  --md-ref-palette-primary30: #2E14DC;
  --md-ref-palette-primary35: #3C2CE6;
  --md-ref-palette-primary40: #493EF2;
  --md-ref-palette-primary50: #6660FF;
  --md-ref-palette-primary60: #8582FF;
  --md-ref-palette-primary70: #A3A2FF;
  --md-ref-palette-primary80: #C2C1FF;
  --md-ref-palette-primary90: #E2DFFF;
  --md-ref-palette-primary95: #F2EFFF;
  --md-ref-palette-primary98: #FCF8FF;
  --md-ref-palette-primary99: #FFFBFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #00131A;
  --md-ref-palette-secondary10: #001F28;
  --md-ref-palette-secondary20: #003543;
  --md-ref-palette-secondary25: #004152;
  --md-ref-palette-secondary30: #004D61;
  --md-ref-palette-secondary35: #005A70;
  --md-ref-palette-secondary40: #006780;
  --md-ref-palette-secondary50: #0082A0;
  --md-ref-palette-secondary60: #009DC2;
  --md-ref-palette-secondary70: #38B9DF;
  --md-ref-palette-secondary80: #5DD5FC;
  --md-ref-palette-secondary90: #B7EAFF;
  --md-ref-palette-secondary95: #DDF4FF;
  --md-ref-palette-secondary98: #F3FBFF;
  --md-ref-palette-secondary99: #F9FDFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150D;
  --md-ref-palette-tertiary10: #002116;
  --md-ref-palette-tertiary20: #003828;
  --md-ref-palette-tertiary25: #004431;
  --md-ref-palette-tertiary30: #00513B;
  --md-ref-palette-tertiary35: #005E45;
  --md-ref-palette-tertiary40: #006C4F;
  --md-ref-palette-tertiary50: #008865;
  --md-ref-palette-tertiary60: #24A37C;
  --md-ref-palette-tertiary70: #49BF96;
  --md-ref-palette-tertiary80: #68DBB0;
  --md-ref-palette-tertiary90: #85F8CB;
  --md-ref-palette-tertiary95: #BCFFE1;
  --md-ref-palette-tertiary98: #E7FFF2;
  --md-ref-palette-tertiary99: #F4FFF7;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #111114;
  --md-ref-palette-neutral10: #1B1B1F;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3C3B3F;
  --md-ref-palette-neutral30: #47464A;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5F5E62;
  --md-ref-palette-neutral50: #78767A;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral70: #ADAAAF;
  --md-ref-palette-neutral80: #C8C5CA;
  --md-ref-palette-neutral90: #E5E1E6;
  --md-ref-palette-neutral95: #F3F0F4;
  --md-ref-palette-neutral98: #FCF8FD;
  --md-ref-palette-neutral99: #FFFBFF;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #101018;
  --md-ref-palette-neutral-variant10: #1B1B23;
  --md-ref-palette-neutral-variant20: #302F38;
  --md-ref-palette-neutral-variant25: #3B3A43;
  --md-ref-palette-neutral-variant30: #47464F;
  --md-ref-palette-neutral-variant35: #53515A;
  --md-ref-palette-neutral-variant40: #5F5D67;
  --md-ref-palette-neutral-variant50: #787680;
  --md-ref-palette-neutral-variant60: #928F9A;
  --md-ref-palette-neutral-variant70: #ACAAB4;
  --md-ref-palette-neutral-variant80: #C8C5D0;
  --md-ref-palette-neutral-variant90: #E4E1EC;
  --md-ref-palette-neutral-variant95: #F3EFFA;
  --md-ref-palette-neutral-variant98: #FCF8FF;
  --md-ref-palette-neutral-variant99: #FFFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #493EF2;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #E2DFFF;
  --md-sys-color-on-primary-container-light: #0E006A;
  --md-sys-color-primary-fixed-light: #E2DFFF;
  --md-sys-color-on-primary-fixed-light: #0E006A;
  --md-sys-color-primary-fixed-dim-light: #C2C1FF;
  --md-sys-color-on-primary-fixed-variant-light: #2E14DC;
  --md-sys-color-secondary-light: #006780;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #B7EAFF;
  --md-sys-color-on-secondary-container-light: #001F28;
  --md-sys-color-secondary-fixed-light: #B7EAFF;
  --md-sys-color-on-secondary-fixed-light: #001F28;
  --md-sys-color-secondary-fixed-dim-light: #5DD5FC;
  --md-sys-color-on-secondary-fixed-variant-light: #004D61;
  --md-sys-color-tertiary-light: #006C4F;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #85F8CB;
  --md-sys-color-on-tertiary-container-light: #002116;
  --md-sys-color-tertiary-fixed-light: #85F8CB;
  --md-sys-color-on-tertiary-fixed-light: #002116;
  --md-sys-color-tertiary-fixed-dim-light: #68DBB0;
  --md-sys-color-on-tertiary-fixed-variant-light: #00513B;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #787680;
  --md-sys-color-background-light: #FFFBFF;
  --md-sys-color-on-background-light: #1B1B1F;
  --md-sys-color-surface-light: #FCF8FD;
  --md-sys-color-on-surface-light: #1B1B1F;
  --md-sys-color-surface-variant-light: #E4E1EC;
  --md-sys-color-on-surface-variant-light: #47464F;
  --md-sys-color-inverse-surface-light: #303034;
  --md-sys-color-inverse-on-surface-light: #F3F0F4;
  --md-sys-color-inverse-primary-light: #C2C1FF;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #493EF2;
  --md-sys-color-outline-variant-light: #C8C5D0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E5E1E6;
  --md-sys-color-surface-container-high-light: #EAE7EC;
  --md-sys-color-surface-container-light: #F0EDF1;
  --md-sys-color-surface-container-low-light: #F6F2F7;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FCF8FD;
  --md-sys-color-surface-dim-light: #DCD9DE;
  /* dark */
  --md-sys-color-primary-dark: #C2C1FF;
  --md-sys-color-on-primary-dark: #1C00A6;
  --md-sys-color-primary-container-dark: #2E14DC;
  --md-sys-color-on-primary-container-dark: #E2DFFF;
  --md-sys-color-primary-fixed-dark: #E2DFFF;
  --md-sys-color-on-primary-fixed-dark: #0E006A;
  --md-sys-color-primary-fixed-dim-dark: #C2C1FF;
  --md-sys-color-on-primary-fixed-variant-dark: #2E14DC;
  --md-sys-color-secondary-dark: #5DD5FC;
  --md-sys-color-on-secondary-dark: #003543;
  --md-sys-color-secondary-container-dark: #004D61;
  --md-sys-color-on-secondary-container-dark: #B7EAFF;
  --md-sys-color-secondary-fixed-dark: #B7EAFF;
  --md-sys-color-on-secondary-fixed-dark: #001F28;
  --md-sys-color-secondary-fixed-dim-dark: #5DD5FC;
  --md-sys-color-on-secondary-fixed-variant-dark: #004D61;
  --md-sys-color-tertiary-dark: #68DBB0;
  --md-sys-color-on-tertiary-dark: #003828;
  --md-sys-color-tertiary-container-dark: #00513B;
  --md-sys-color-on-tertiary-container-dark: #85F8CB;
  --md-sys-color-tertiary-fixed-dark: #85F8CB;
  --md-sys-color-on-tertiary-fixed-dark: #002116;
  --md-sys-color-tertiary-fixed-dim-dark: #68DBB0;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513B;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #928F9A;
  --md-sys-color-background-dark: #1B1B1F;
  --md-sys-color-on-background-dark: #E5E1E6;
  --md-sys-color-surface-dark: #131316;
  --md-sys-color-on-surface-dark: #C8C5CA;
  --md-sys-color-surface-variant-dark: #47464F;
  --md-sys-color-on-surface-variant-dark: #C8C5D0;
  --md-sys-color-inverse-surface-dark: #E5E1E6;
  --md-sys-color-inverse-on-surface-dark: #1B1B1F;
  --md-sys-color-inverse-primary-dark: #493EF2;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #C2C1FF;
  --md-sys-color-outline-variant-dark: #47464F;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #353438;
  --md-sys-color-surface-container-high-dark: #2A2A2D;
  --md-sys-color-surface-container-dark: #1F1F23;
  --md-sys-color-surface-container-low-dark: #1B1B1F;
  --md-sys-color-surface-container-lowest-dark: #0E0E11;
  --md-sys-color-surface-bright-dark: #39393C;
  --md-sys-color-surface-dim-dark: #131316;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
