@tailwind base;
@tailwind components;
@tailwind utilities;

// Globals Begin


// Globals End


// Bubble Loader Begin

/* Define the container for the loader */
.bubble-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define the individual bubbles */
.bubble-loader .bubble {
//   width: 10px;
//   height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  animation: animate 1s ease-in-out infinite;
}

/* Define the animation for the bubbles */
@keyframes animate {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Define the color of the bubbles */
.bubble-loader .bubble:nth-child(1) {
  background-color: #f44336;
}
.bubble-loader .bubble:nth-child(2) {
  background-color: #4caf50;
  animation-delay: 0.2s;
}
.bubble-loader .bubble:nth-child(3) {
  background-color: #2196f3;
  animation-delay: 0.4s;
}

// Bubble Loader End



//  Project Card Begin
.project-card {
  @apply w-full p-8 flex flex-col gap-4 items-center rounded-2xl shadow-xl dark:bg-gray-700;
}
.project-card h3 {

  height: 60px

}
.project-card p {
  height: 80px
}
.project-card img {
  @apply max-h-56;
}
.simple-form {
  @apply w-full lg:w-1/2 p-6 flex flex-col gap-2;
}

.card--tech {
  @apply flex flex-col items-center;
}
.card--tech-project-detail {
  @apply flex flex-col items-center;
}
.card--tech-project-detail span {
  @apply font-bold;
}

.project-detail {
  @apply flex flex-col gap-3;
}
.project-detail ul {
  @apply px-6;
}
.project-detail li {
  list-style: square;
}

// Project Card End



.service-description {
  @apply py-8 lg:py-12;
}
.service-description > div {
  @apply flex flex-col gap-4 md:w-2/3 mb-8;
}
.service-description a {
  @apply font-bold text-primary-400;
}
.service-description a:hover {
  @apply text-primary-600;
}
.service-description ul {
  @apply mx-6;
}

.service-description ul li {
  @apply font-light text-base;
  list-style: square;
}

.service-description button {
  @apply mt-6;
}

.certificates {
  @apply flex flex-col items-center gap-12 mt-12;
}

.certificates-container ul {
  @apply grid grid-cols-1 gap-12 md:gap-24  md:grid-cols-3;
}

.certificates-container li {
  @apply self-center;
}
.certificates-container div {
  @apply flex flex-col items-center text-center;
}

.certificates-container img {
  @apply w-36 md:w-40;
}



// CV modal

.cv-modal{
  background-color: rgba(0, 0, 0, 0.603);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  
  
}
