/* Colors */
:root {
  --primary-100: #f6c6c6ff;
  --primary-300: #de2a39ff;
  --primary-600: #d91a1aff;
  --primary-700: #a61414ff;
  --secondary-100: #e6eff3ff;
  --secondary-300: #9bbdcdff;
  --secondary-600: #065a82ff;
  --secondary-700: #054462ff;
  --warning-100: #ffdb99ff;
  --warning-300: #ffa500ff;
  --warning-600: #a16800ff;
  --success-100: #99dbc8ff;
  --success-300: #00a676ff;
  --success-600: #007d5aff;
  --info-100: #a6d5faff;
  --info-300: #2196f3ff;
  --info-600: #1971b6ff;
  --neutral-100: #f8f8f8ff;
  --neutral-300: #e2e2e2ff;
  --neutral-600: #6f6f6fff;
  --white: #ffffffff;
  --black: #000000ff;
  --error-100: #f6c6c6ff;
  --error-300: #ff0000ff;
  --error-600: #a61414ff;
}

/* Typography */
.title-big {
  font-size: 68px;
  font-weight: 400;
}

.title-medium {
  font-size: 42px;
  font-weight: 400;
}

.title-small {
  font-size: 26px;
  font-weight: 400;
}

.body-big {
  font-size: 16px;
  font-weight: 400;
}

.body-medium {
  font-size: 10px;
  font-weight: 400;
}

.body-small {
  font-size: 6px;
  font-weight: 400;
}

