@import "../common/variables.css";
  
.button {

  font-family: 'Ubuntu', sans-serif;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: fit-content;
}

.button--filled {
  color: var(--white);
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);

}
.button--outlined {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--white);
}
.button--medium {

  font-size: var(--font-size-body-medium);
  padding: 8px 16px;
}
.button--large {
  font-size: var(--font-size-title-small);
  padding: 12px 24px;
}

/* loader size */
.button--large > div {
  width:var(--font-size-title-small);
  height:var(--font-size-title-small);
  
}
.button--medium > div {
  width:var(--font-size-body-medium);
  height:var(--font-size-body-medium);
  
}


/* loader */

.button--filled > div {
  border-radius:50%;
  background:conic-gradient(#0000 10%,var(--white));
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

.button--outlined > div {
  border-radius:50%;
  background:conic-gradient(#0000 10%,var(--white));
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3 {to{transform: rotate(1turn)}}




.button--disabled.button--outlined {
  cursor: not-allowed;
  color: var(--neutral-600);
  border: 1px solid var(--neutral-600);
  
  
}

.button--disabled.button--filled {
  cursor: not-allowed;
  color: var(--neutral-100);
  border: 1px solid var(--neutral-100);
  background-color: var(--primary-100);
  
}
.hidden{
  display: none;
}
