@font-face {
  font-family: 'Nebula-Regular';
  src: url('/Nebula-Regular.woff2') format('woff2');
}

:root {

  --primary-50: blue;
  --primary-100: blue;
  --primary-200: blue;
  --primary-300: blue;
  --primary-400: blue;
  --primary: blue;
  --primary-600: blue;
  --primary-700: blue;
  --primary-800: blue;
  --primary-900: blue;
  
  --secondary-50: lightgreen;
  --secondary-100: lightgreen;
  --secondary-200: lightgreen;
  --secondary-300: lightgreen;
  --secondary-400: lightgreen;
  --secondary: lightgreen;
  --secondary-600: lightgreen;
  --secondary-700: lightgreen;
  --secondary-800: lightgreen;
  --secondary-900: lightgreen;

}


body {
  background: url('/background.jpg');
  margin: 0 ;
}
/* 1rem=16px */
h1 {
  font-family: 'Nebula-Regular', Fallback, sans-serif;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 4rem;
}

h2 {

  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3rem;

}

h3 {

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;

}

h4 {

  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}

h5 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}

h6 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}
li{
  list-style: none;
}

.link {
  color: lightblue;
  text-decoration: none;
}
.link:hover{
  color: blue;
}

.item{


  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;

}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn--primary {
  
  width: 200px;
  /* color: ; */
  background: var(--primary);
  padding: 1rem 1.5rem
}

.btn--secondary {
  width: 200px;
  /* color: ; */
  background: var(--secondary);
  padding: 1rem 1.5rem

}

p {

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

p.big {

  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
