* {
    box-sizing: border-box;

    
}

body{
    margin: 0;
    padding: 0;
    background: var(--md-sys-color-surface-light);
}
.page-content{
    padding: 50px 10px;
}

@media (min-width: 640px) {
    .page-content{
        padding: 60px 20px;
    }   
}

@media (min-width: 768px) {
    .page-content{
        padding: 60px 40px;
    }
}

@media (min-width: 1024px) {
    .page-content{
        padding: 80px 80px;
    }
}