

h1,h2,h3,h4,h5,h6,p,span,ul {
  margin: 0;
}
.text {
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
}

.text--link{
  text-decoration: none;
  color: var(--primary-600);
}
.text--link:hover{
  color: var(--primary-100);
  
}
.text--title-large {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-light);
}

.text--title-medium {
  font-size: var(--font-size-title-medium);
  font-weight: var(--font-weight-light);
}

.text--title-small {
  font-size: var(--font-size-title-small);
  font-weight: var(--font-weight-light);
}


.text--body-large {
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--space-6);
}

.text--body-medium {
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-light);
  line-height: var(--space-5);

}

.text--body-small {
  font-size: var(--font-size-body-small);
  font-weight: var(--font-weight-light);
}
.text--list-item {
  list-style: bullet; 
  font-size: var(--font-size-body-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--space-6);

}